{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        <h2>Wachtwoord vergeten</h2>
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
        <label for="username">Vul hier uw gebruikersnaam of email in.</label>
        <input type="text" id="username" name="username" required="required" class="form-control"/>
        <br/>
        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>
