$blauwekleur: #25aae1;
//$blauwekleur: yellow;
$gelekleur: #ffd402;
$tekstkleur: white;
$linkkleur: lighten($blauwekleur,15%);
$linkkleurhover: darken($blauwekleur, 15%);
$schaduwkleur: lighten(black,25%);
$oranjekleur: #faab13;

$groen : #00a65a;