.overzichtreservaties {

	img.icoon-veld {
		max-height: 12px;
		width: auto;
	}

	.controls {
		text-align: center;
		display: block;
		//padding-bottom: 20px;
		overflow: hidden;
		
		@include breakpoint(desktop) {
			padding: 40px 0px;	
		}
		height: 80px;
		background-color: $blauwekleur;
		color: white;
		border-radius: 5px 5px 0px 0px;
		border: solid 1px white;
		border-bottom: none;
		#datumvorige, #datumvolgende {
			font-size: 16px;
			cursor: pointer;
		}
		#datumvandaag {
			.input-group{
				margin:auto;
				width:100%;
				max-width:300px;
			}
			input {
				background-color: $blauwekleur;
				box-shadow: none;
				color: white;
				text-align: center;
				border: none;
				text-transform: uppercase;
				font-size: 22px;
			}
			.input-group-addon {
				background-color: $blauwekleur;
				color:white;
				border:none;
			}
		}
		#datumvorige, #datumvandaag, #datumvolgende, #datumweek {
			@include vertical-align();
			text-transform: uppercase;
		}

		#datumweek {
			text-transform: uppercase;
			font-size: 22px;
		}
	}

	table {
		width: 100%;
		th, td.uur {
			background-color: white;
			color: $blauwekleur;
			text-align: center;
			width: 12.5%;
		}
		td.veld, td.uur {
			vertical-align: middle;
			text-align: center;
			padding: 4px;
		}

		td {
			position: relative;
			height: 85px;
		}

		td.veld:hover {
			cursor: pointer;
		}
		td.bezet:hover {
			cursor: auto;
		}
		td.bezet {
			padding-top: 5px;	
			background-color: lighten($blauwekleur,15%);
			font-size: 14px;
		}
		td.tehoog {
			height: 0px;
			background-image: url('../images/disabled.png')
		}
		
		td.vrij:hover {
			//background-color: lighten($blauwekleur,25%);
			-webkit-animation-name: greenPulse;
		  -webkit-animation-duration: 2s;
		  -webkit-animation-iteration-count: infinite;

		}

		td.bezet.Onderhoud {
			background-color: orange;
		}
		td.bezet.Les {
			background-color: lighten(red,20%);
		}
		td.bezet.Tornooi {
			background-color: lighten(orange,15%);
		}

		span.verwijderreservatie {
			position: absolute;
			top: 0px;
			right: 5px;
		}
		span.verwijderreservatie:hover {
			cursor:pointer;

		}
	}	
}

#modalreserverennietmogelijk {
	.modal-content {
		background-color: red;
		color: white;	
		a, a:hover, a:focus {
			color: white;
			text-decoration: underline;
		}
		button.btn-default {
			color: red;
		}
		p {
			text-align: center;
			width: 100%;
		}
	}
	
}

#modalverwijderen {
	.modal-content {
		background-color: #ff6161;
		h1 {
			text-align: center;

		}
		.btn-primary {
			background: none;
			background-color: lighten(#ff6161,5%);
			color: white;
			border: solid 1px white;
		}
	}
}

.modalloading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../images/socceranimation.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modalloading {
    display: block;
}





#modalbevestig {
	.modal-content {
		background-color: white;
		color: $blauwekleur;

		.modal-header {
			h4 {
				background-color: $blauwekleur;
				color: white;
				display: block;
				text-align: center;
				@include border-radius(2px);
				@include breakpoint(tablet) {
					font-size: 32px;
				}
				@include breakpoint(desktop) {
					font-size: 40px;
				}
			}
		}
		.modal-body {
			.labeltje {
				text-align:right;
			}
			.row.medespelers {


				margin-top: 10px;
				height: 45px;

				

				div.medespelers {
					//@include vertical-align();
				}
				div.minimumspelers {
					font-size: 11px;
					color:red;
					display: block;
				}
				input {
					width: 100%;
					@include border-radius(5px);
					border: solid 1px $blauwekleur;
					padding: 3px;
				}
				input:active, input:focus {
					-webkit-animation-name: glowingPulse;
					  -webkit-animation-duration: 2s;
					  -webkit-animation-iteration-count: infinite;
				}

				table.lijstmedespelers {
					th {
						background-color: $blauwekleur;
						color:white;
						font-size: 12px;
						font-weight: normal;
					}

					th:first-child {
						display: none;
					}
					th:nth-child(2){
						width: 15%;
					}
					th:last-child {
						width: 15%;
					}

					tr {
						td:first-child {
							display: none;
						}
					}
					i.verwijderspeler:hover {
						cursor: pointer;

					}

				}
			}


		}

		.modal-footer {
			.btn.wit {
				color: white;
			}	
		}
	}

	
}

h4.modal-title {
	display: inline-block;
}

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; color:$blauwekleur }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }
#searchfield { display: block; width: 100%; text-align: center; margin-bottom: 35px; }

.autocomplete-suggestion:hover {
	  background-color: rgba(37,170,225,0.7);
	  color: white;
	  strong {
	  	color: white;
	  }
}

 
#searchfield form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0 0 0;
}
#searchfield form .biginput {
  width: 600px;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;

  font-weight:normal;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
  color: #858585;
}


@-webkit-keyframes greenPulse {
  from { background-color: $blauwekleur; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: lighten($blauwekleur,10%); -webkit-box-shadow: 0 0 18px darken($blauwekleur,20%); }
  to { background-color: lighten($blauwekleur, 0%); -webkit-box-shadow: 0 0 9px #333; }
}
@-webkit-keyframes glowingPulse {
  from { -webkit-box-shadow: 0 0 9px #333; }
  50% { -webkit-box-shadow: 0 0 18px darken($blauwekleur,20%); }
  to { -webkit-box-shadow: 0 0 9px #333; }
}