.overzichtreservaties {

	img.icoon-veld {
		max-height: 12px;
		width: auto;
	}

	.controls {
		text-align: center;
		display: block;
		margin-bottom: 20px;
		overflow: hidden;
	}

	table {
		width: 100%;
		th, td.uur {
			background-color: white;
			color: $blauwekleur;
			text-align: center;
			width: 12.5%;
		}
		td.veld, td.uur {
			vertical-align: middle;
			text-align: center;
		}

		td {
			height: 60px;
		}

		td.veld:hover {
			cursor: pointer;
		}
		td.bezet:hover {
			cursor: auto;
		}
		td.bezet {
			background-color: lighten($blauwekleur,15%);
		}
		td.tehoog {
			height: 0px;
		}

		td.vrij:hover {
			//background-color: lighten($blauwekleur,25%);
			-webkit-animation-name: greenPulse;
		  -webkit-animation-duration: 2s;
		  -webkit-animation-iteration-count: infinite;

		}
	}	
}



#modalbevestig {
	.modal-content {
		background-color: white;
		color: $blauwekleur;

		.modal-body {
			.row.medespelers {
				margin-top: 15px;
				input {
					width: 100%;
					@include border-radius(5px);
					border: solid 1px $blauwekleur;
					padding: 3px;
				}
				input:active, input:focus {
					-webkit-animation-name: glowingPulse;
					  -webkit-animation-duration: 2s;
					  -webkit-animation-iteration-count: infinite;
				}
			}
		}

		.modal-footer {
			.btn.wit {
				color: white;
			}	
		}
	}

	
}

h4.modal-title {
	display: inline-block;
}
@-webkit-keyframes greenPulse {
  from { background-color: $blauwekleur; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: lighten($blauwekleur,10%); -webkit-box-shadow: 0 0 18px darken($blauwekleur,20%); }
  to { background-color: lighten($blauwekleur, 0%); -webkit-box-shadow: 0 0 9px #333; }
}
@-webkit-keyframes glowingPulse {
  from { -webkit-box-shadow: 0 0 9px #333; }
  50% { -webkit-box-shadow: 0 0 18px darken($blauwekleur,20%); }
  to { -webkit-box-shadow: 0 0 9px #333; }
}